.price {
  width: 256px;
}

.price input {
  width: 80px;
}

.price-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#input, #output {
  width: 256px;
  height: 256px;
}

#price-output {
  width: 128px;
  height: 256px;
}